/* Login skærm */
body {
    background-color: #FAF7F7;
    margin: 0 auto;
    padding: 0;

}


header {}

img {

    width: 100%;

}

.wrapper {
    max-width: 375px;
}


#forside p {
    font-family: "gibson", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    color: #F58E81;
    position: relative;
}

figure {
    margin-top: 6vw;
}



/* orange baggrund i toppen af skærmen */
#orangebackground {
    background-color: #EA5045;
    width: 100%;
    height: 55vw;
    background-repeat: no-repeat;
    background-size: cover;

}

/* KEA logo */
.logo {
    background-image: url(kealogo.svg);
    background-size: 30vw;
    width: 40vw;
    height: 10vw;
    position: absolute;
    top: 25vw;
    left: 35vw;
    background-repeat: no-repeat;
}


/* login knap */
#brugernavnlogin {
    border-radius: 25px;
    border: 1px solid #FAF7F7;
    color: #EA5045;
    width: 70vw;
    height: 10vw;
    margin-bottom: 30px;
    margin-top: 50px
}


/* password knap */
#passwordlogin {
    border-radius: 25px;
    border: 1px solid #FAF7F7;
    width: 70vw;
    height: 10vw;
    margin-bottom: 200px
}

form {
    margin: 15vw;
    font-size: 0.9rem;
}

input {
    color: #EA5045;
}

a {
    text-decoration: none;

}

#menu a {
    text-decoration: none;
    font-family: "gibson", sans-serif;
    margin-bottom: 4vw;
    font-size: 1.5rem;
    font-weight: 600;
    color: #EA847C;
    margin-top: 10vw;
    text-align: center;
}

#menu img {
    right: 0;
    left: 0;
    margin-bottom: 10vw
}

/* continue knap */
#login {
    border-radius: 25px;
    border: 1px solid #EA5045;
    background-color: #EA5045;
    color: #FFFFFF;
    width: 70vw;
    height: 10vw;
    margin-bottom: 20px;
    font-family: "gibson", sans-serif;
}

/* login facebook knap */
#loginfb {


    display: flex;
    justify-content: center;


}

#fbknap {
    border-radius: 25px;
    border: 2.5px solid #EA5045;
    background-color: #FAF7F7;
    color: #EA5045;
    width: 70vw;
    height: 9vw;
    margin-bottom: 0;
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    top: -15vw;
}

#loginfbtxt {
    align-items: baseline;
    position: relative;
    top: 1.8vw;
}

#loginsection {}

.facebooklogo {
    width: 4vw;
    position: relative;
    right: 8vw;
    top: 2.5vw;

}

.checkboxlogin {
    position: absolute;
    left: 38vw;
    top: 119.4vw;
    transform: scale(1.4);

}

.huskmiglogin {
    position: absolute;
    left: 45vw;
    top: 120vw;
    font-size: 0.8rem;
    font-family: "gibson", sans-serif;
    font-weight: 500;

}

#glemtpassword {
    position: absolute;
    left: 38vw;
    top: 128vw;
    font-size: 0.7rem;
    font-family: "gibson", sans-serif;
    font-weight: 500;
    align-items: baseline;
    text-align: center;
}

/* Login skærm slut */

/* Forside */

/* orange stykke i toppen af skærm */
#orangebackground2 {
    background-color: #EA5045;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;

}

/* burgermenu forside */

#menuknap {
    width: 4vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 5vw;
    right: 7vw;
}

/* profillogo */

#profillogo {
    background-image: url(Profile.svg);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 5vw;
    right: 18vw;
}

/* kealogoforside */
#kealogoforside {
    background-image: url(kealogo.svg);
    width: 8vw;
    height: 1.9vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 6vw;
    left: 8vw;
    transform: scale(2);
}

/* boxes på forsiden*/
/* boxrow1 */
#boxrow1 {
    display: flex;

}

.box1 {

    background-color: #FFFFFF;
    border: 5px solid #FAF7F7;
    flex-grow: 1;
    flex-basis: 100px;
    width: 30vw;
    height: 30vw;



}

/* boxrow2 */
#boxrow2 {
    display: flex;
}

.box2 {
    background-color: #FFFFFF;
    border: 5px solid #FAF7F7;
    flex-grow: 2;
    flex-basis: 200px;

}

/* boxrow3 */
#boxrow3 {
    display: flex;
}

.box2 {
    background-color: #FFFFFF;
    border: 5px solid #FAF7F7;
    flex-grow: 2;
    flex-basis: 200px;

}

/* boxrow4 */
#boxrow4 {
    display: flex;
    flex-grow: 1;
    flex-basis: 100px;
}

.box3 {

    background-color: #FFFFFF;
    border: 5px solid #FAF7F7;
    flex-grow: 2;
    flex-basis: 200px;
    width: 64vw;


}

#boxrow5 {
    display: flex;

}

/* techloungetxt */
.techloungetxt {
    color: #F58E81;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 12vw;
    font-family: "gibson", sans-serif;
    font-weight: 500;
    top: 3vw;
    transform: scale(1.3);
}

/* aktuelt txt */
.aktuelt {
    color: #F58E81;
    font-size: 3rem;
    text-align: center;
    margin-top: 25vw;
    font-family: "gibson", sans-serif;
    font-weight: 500;
    transform: scale(2.3);
    top: 3vw;
    width: 20vw;
    height: 10vw;
    left: 23vw;

}




.colleft {
    display: flex;
    flex-wrap: wrap;
}

.colright {
    display: flex;
    flex-wrap: wrap;
}


/* grupper billede og tekst */
.grupperikon {
    transform: scale(1.6);
    margin-top: 7vw;
    display: flex;
    justify-content: center;


}

.chatikon {
    transform: scale(0.9);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.chattxtbox {
    margin-top: 3vw;
}


/* forside slut */
/****************/

/* Burgermenu */
.burgermenukealogo {
    background-image: url(kealogo.svg);
    width: 8vw;
    height: 1.9vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 30vw;
    left: 46vw;
    transform: scale(4);
}



#menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    font-family: "gibson", sans-serif;
    text-align: center;
    z-index: 11;
    margin: 0;
    font-size: 1.5rem;
    color: #EA5045;
    background-color: #3F3140;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform .4s;


}

.kealogoburgermenu {
    height: 10vw;
    top: 20vw;
    transform: scale(0.9);

}

#menuknap {
    z-index: 12;
}

.hidden {
    display: none;
    visibility: hidden;


}

#menu li {
    padding: 1rem;
}

ul {
    list-style-type: none;
}

.logudbox {
    background-color: #F58E81;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem 0;



}

.logudtxt {
    color: #FFFFFF;
}

/* orange footerbox */
.orangeboxmedtxt {
    background-color: #EA847C;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 200vw;


}


/* burgermenu slut */
/*******************/
/* skema */
#lightgreybox {
    background-color: #DEDCDB;
    width: 100vw;
    height: 25vw;
    position: absolute;
}

/* tema/semester/skema txt i lightgreybox */
.tematxt {
    /*background-image: url(Tema%204Basic%20UX.svg);*/
    width: 20vw;
    height: 10vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 8vw;
    left: 76vw;
    transform: scale(1.04)
}

.tematxtparagraph1 {
    font-family: "gibson", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: -5vw;
    left: 6vw;
    text-align: center;
    color: #707070;
}

.tematxtparagraph2 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    position: absolute;
    top: 2vw;
    left: 6vw;
    text-align: center;
    color: #707070;
}

.skemaogsemestertxt {
    /*background-image: url(SkemaSemester%201.svg);*/
    width: 30vw;
    height: 20vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 7vw;

}

.skemasemestertxtparagraph1 {
    font-family: "gibson", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    top: -6vw;
    left: 3vw;
    text-align: center;
    color: #3F3140;
}

.skemasemestertxtparagraph2 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    position: absolute;
    top: 3vw;
    left: 3vw;
    text-align: center;
    color: #707070;
}

/* darkgreybox */
#darkgreybox {
    background-color: #3F3140;
    width: 100vw;
    height: 20vw;
    position: absolute;
    margin-top: 25vw
}

/* pile */

.pilvenstre {
    background-image: url(Backward%20arrow%20small.svg);
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8.2vw;
    left: 32vw;
}

.pilhoejre {
    background-image: url(Forward%20arrow%20small.svg);
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8.2vw;
    left: 65.5vw;
}

/* maaneddagdato box */
.maaneddagdato {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 2vw;
    left: 42.8vw;

}


.maaned {
    /*background-image: url(Maj.svg);*/
    width: 6vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 1vw;
    left: 5vw
}

.majtxt {
    font-family: "gibson", sans-serif;
    width: 8vw;
    height: 5vw;
    font-size: 0.9rem;
    position: absolute;
    z-index: 10;
    margin-top: 0.4vw;
    left: -0.8vw;
    font-weight: 400;
    color: #FFFFFF;
}

.dag {
    /*background-image: url(Mandag.svg);*/
    width: 10vw;
    height: 2vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 3vw
}

.dagtxt {
    position: absolute;
    text-align: center;
    font-family: "gibson", sans-serif;
    font-size: 0.7rem;
    color: #FFFFFF;
    margin-top: -0.4vw;
    left: -0.7vw;
    font-weight: 200;


}

.dato {
    /*background-image: url(20.svg);*/
    width: 6vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 10.5vw;
    left: 5vw;
}

.datotxt {
    font-family: "gibson", sans-serif;
    width: 8vw;
    height: 5vw;
    font-size: 0.9rem;
    position: absolute;
    z-index: 10;
    margin-top: 0.4vw;
    left: 0;
    font-weight: 300;
    color: #FFFFFF;
}

/* skema & tid */

/* skemabox modul1 hvid box med tid */
.skemabox1 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 58vw;


}

.tid1 {
    /*background-image: url(0830%200915.svg);*/
    position: absolute;
    width: 12vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.tid1paragraph {
    font-family: "gibson", sans-serif;
    font-size: 1rem;
    margin-top: 0.5vw;
    color: #BCC5D3;
}

.tid1paragraph2 {
    font-family: "gibson", sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 1vw;
    margin-top: 5vw;
    color: #BCC5D3;
}

.skemabox2 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 73vw;
    border-top: 1px solid #E2E8ED;


}

.tid2 {
    /*background-image: url(09151000.svg);*/
    position: absolute;
    width: 11vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* greybox modul1 box */
.modul1greybox {
    background-color: #F2F1F0;
    position: absolute;
    width: 75vw;
    height: 31vw;
    top: 58vw;
    left: 20vw;
    /* arrangere den grå box oven på de hvide */
    /* Z-index kontrollerer hvordan images eller divs stacker oven på hinanden.
    Div/image med højere z-index value tager front place hvor lavere
    vil put-to-back */
    z-index: 1;
    /* slut */


}

/* modul1 txt */
.modul1txt {
    /*background-image: url(Group%201626.svg);*/
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 3vw;
}

.modul1txtparagraph1 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -4vw;



}

.modul1txtparagraph2 {
    font-family: "gibson", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 0.9vw;
    width: 25vw;



}

/* mappe og attachment ikoner modul1 */
.modul1mappeikon {
    background-image: url(Folder.svg);
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    position: absolute;
    left: 64vw;
    transform: scale(0.4)
}

.modul1attachmentikon {
    background-image: url(Attachment.svg);
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 11vw;
    left: 66vw;

}

/* skemabox modul2 hvid box med tid */
.skemabox3 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 95vw;


}

.tid3 {
    /*background-image: url(10151100.svg);*/
    position: absolute;
    width: 12vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.skemabox4 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 110vw;
    border-top: 1px solid #E2E8ED;


}

.tid4 {
    /*background-image: url(11001145.svg);*/
    position: absolute;
    width: 12vw;
    height: 20vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* grey box modul 2 box */
.modul2greybox {
    background-color: #F2F1F0;
    position: absolute;
    width: 75vw;
    height: 31vw;
    top: 95vw;
    left: 20vw;
    /* arrangere den grå box oven på de hvide */
    /* Z-index kontrollerer hvordan images eller divs stacker oven på hinanden.
    Div/image med højere z-index value tager front place hvor lavere
    vil put-to-back */
    z-index: 1;
    /* slut */

}

/* modul2 txt */
.modul2txt {
    /*background-image: url(Group%201627.svg);*/
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 3vw;
}

.modul2txtparagraph1 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -4vw;



}

.modul2txtparagraph2 {
    font-family: "gibson", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 0.9vw;
    width: 25vw;



}

/* modul2 attachment ikon */
.modul2attachmentikon {
    background-image: url(Attachment.svg);
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 6vw;
    left: 66vw;

}

/* skemabox modul3 hvid box med tid */
.skemabox5 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 20vw;
    position: absolute;
    top: 132vw;


}

.tid5 {
    /*background-image: url(12301315.svg);*/
    position: absolute;
    width: 12vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.skemabox6 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 145vw;
    border-top: 1px solid #E2E8ED;


}

.tid6 {
    /*background-image: url(1315%201400.svg);*/
    position: absolute;
    width: 12vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* greybox modul3 */
.modul3greybox {
    background-color: #F2F1F0;
    position: absolute;
    width: 75vw;
    height: 15vw;
    top: 130vw;
    left: 20vw;
    /* arrangere den grå box oven på de hvide */
    /* Z-index kontrollerer hvordan images eller divs stacker oven på hinanden.
    Div/image med højere z-index value tager front place hvor lavere
    vil put-to-back */
    z-index: 1;
    /* slut */


}

/* modul3 txt */
.modul3txt {
    /*background-image: url(Group%201628.svg);*/
    width: 20vw;
    height: 10vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 3vw;
}

.modul3txtparagraph1 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -4vw;



}

.modul3txtparagraph2 {
    font-family: "gibson", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 0.9vw;
    width: 25vw;



}

/* mappe ikon modul3 */
.modul3mappeikon {
    background-image: url(Folder.svg);
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    position: absolute;
    left: 64vw;
    transform: scale(0.4)
}

/* skemabox modul4 hvid box med tid */
.skemabox7 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 25vw;
    position: absolute;
    top: 170vw;
    margin-top: -3vw;


}

.tid7 {
    /*background-image: url(1415%201500.svg);*/
    position: absolute;
    width: 12vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 4vw;
    left: 4vw;
}

.skemabox8 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 20vw;
    position: absolute;
    top: 185vw;
    border-top: 1px solid #E2E8ED;
}

.tid8 {
    /* background-image: url(1500%201545.svg);*/
    position: absolute;
    width: 12vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* darkfooterbox */
.darkfooterbox {
    background-color: #3F3140;
    width: 100vw;
    height: 15vw;
    position: absolute;
    bottom: 0;

}

.skemaikontxt {
    color: #FFFFFF;
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    right: 1vw;


}

.darkfooterboxskemaikon {
    background-image: url(calendar-icon.svg);
    width: 20vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    left: 43vw;
    margin-top: 5vw;
    margin-bottom: 0;
}

/* skema skærm slut */

/********************/
/* Materialer skærm start */

.materialerogsemestertxt {
    background-image: url(MaterialerSemester%201.svg);
    width: 30vw;
    height: 20vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 7vw;
    left: 3vw;

}

/* skema ikon materialer */
.skemaikonmaterialer {
    background-image: url(Path%20310.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 12vw;
    left: 25vw;

}

/* materialer boxe med txt */
.infobox1 {
    background-color: #F2F1F0;
    width: 90vw;
    height: 20vw;
    position: absolute;
    top: 65vw;
    left: 5vw;
}

.infotxt1 {
    /*background-image: url(materialertxt1.svg);*/
    width: 70vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.mattxtparagraph1 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -4vw;
}

.mattxtparagraph2 {
    font-family: "gibson", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 2vw;
    width: 70vw;
}

.downloadikon {
    background-image: url(downloadikon.svg);
    width: 6vw;
    height: 6vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 12vw;
    left: 80vw;
}

.infobox2 {
    background-color: #F2F1F0;
    width: 90vw;
    height: 20vw;
    position: absolute;
    top: 90vw;
    left: 5vw;
}

.infotxt2 {
    /* background-image: url(materialertxt2.svg);*/
    width: 74vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.mattxtparagraph3 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -4vw;
    width: 81vw;
}

.mattxtparagraph4 {
    font-family: "gibson", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 2vw;
    width: 70vw;
}

.infobox3 {
    background-color: #F2F1F0;
    width: 90vw;
    height: 20vw;
    position: absolute;
    top: 115vw;
    left: 5vw;
}

.infotxt3 {
    /*background-image: url(materialertxt3.svg);*/
    width: 74vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.mattxtparagraph5 {
    font-family: "gibson", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    position: absolute;
    top: -4vw;
}

.mattxtparagraph6 {
    font-family: "gibson", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    position: absolute;
    top: 2vw;
    width: 70vw;
}

/* attachtment ikon for materialer */
.materialerattachmentikon {
    background-image: url(Attachment.svg);
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 13vw;
    left: 81vw;
    transform: scale(1.4);
}

/* Materialerskærme slut */
/*************************/
/* Afleveringer */



/*
h1 {
    color: #000000;
    position: absolute;
    width: 100vw;
    height: 20vw;
    left: 3vw;
    margin-top: 10vw;
    font-size: 1.5rem;


}

h2 {
    color: #EA5045;
    position: absolute;
    width: 100vw;
    height: 20vw;
    left: 3vw;
    margin-top: 25vw;
    font-size: 1rem;
}

h3 {
    color: #000000;
    position: absolute;
    width: 100vw;
    height: 20vw;
    left: 3vw;
    margin-top: 37vw;
    font-size: 14px;
    z-index: 1;
    left: 8vw;
    font-family: ;
    font-weight: normal;
    font-style: normal;
}

h4 {

    color: #000000;
    position: absolute;
    width: 100vw;
    height: 20vw;
    left: 3vw;
    margin-top: 44vw;
    font-size: 8px;
    z-index: 1;
    left: 8vw
}


.lightgreyinfoboxafleveringer1 {
    background-color: #F2F1F0;
    width: 93vw;
    height: 20vw;
    position: absolute;
    top: 56vw;
    left: 3vw;


}
*/
