/* Login skærm */
body {
    background-color: #FAF7F7;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

html {
    margin: 0 auto;
}


header {}

img {
    width: 100%
}

/* Statusbar klokken/tid */

#statusbartid {

    background-image: url(Bars-_-Time%20Black.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100vw;
    height: 20vw;
    top: 2vw;
    left: 4vw;
}

/* statusbar batteri og wifi */

#statusbarbatteriwifi {
    background-image: url(Group%201611.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vw;
    left: 77vw;
    top: 3vw;
}

/* orange baggrund i toppen af skærmen */
#orangebackground {
    background-color: #EA5045;
    width: 100vw;
    height: 55vw;
    background-repeat: no-repeat;
    background-size: cover;

}

/* KEA logo */
.logo {
    background-image: url(kealogo.svg);
    background-size: 30vw;
    width: 40vw;
    height: 10vw;
    position: absolute;
    top: 25vw;
    left: 35vw;
    background-repeat: no-repeat;
}


/* login knap */

#login {
    background-image: url(inputs.svg);
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 85vw;
    left: 12vw;
}

/* password knap */
#login2 {
    background-image: url(inputs-1.svg);
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 105vw;
    left: 12vw;
}

/* continue knap */
#continue {
    background-image: url(Continue.svg);
    width: 100vw;
    height: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 160vw;
    left: 12vw;
    cursor: pointer;
}

/* login facebook knap */
#loginfacebook {
    background-image: url(Login.svg);
    width: 100vw;
    height: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 180vw;
    left: 12vw;
}

/* Login skærm slut */

/* Forside */

/* hvidt stykke i toppen af skærm */

#whitebox {
    background-color: white;
    width: 99vw;
    height: 9vw;

}

/* orange stykke efter det hvide i toppen af skærm */
#orangebackground2 {
    background-color: #EA5045;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;

}

/* burgermenu forside */

#burgermenu {
    background-image: url(Menu.svg);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 15vw;
    right: 7vw;
}

/* profillogo */

#profillogo {
    background-image: url(Profile.svg);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 15vw;
    right: 18vw
}

/* kealogoforside */
#kealogoforside {
    background-image: url(kealogo.svg);
    width: 8vw;
    height: 1.9vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 16vw;
    left: 8vw;
    transform: scale(2);
}

/* boxes på forsiden*/
/* boxrow1 */
.box1 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 3vw;
    margin-top: 20px;
}

.box2 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 35vw;
    margin-top: 20px;

}

.box3 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 67vw;
    margin-top: 20px;

}

/* boxrow2 */
/* techloungebox */
.techlounge {
    border: 1px solid black;
    background-color: #FFFFFF;
    height: 109.92px;
    width: 228.92px;
    position: absolute;
    margin-top: 140px;
    left: 3vw;

}

.box4 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 67vw;
    margin-top: 140px;

}

/* boxrow3 */

.box5 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 3vw;
    margin-top: 260px;
}

.box6 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 35vw;
    margin-top: 260px;

}

.box7 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 67vw;
    margin-top: 260px;

}

/* boxrow4 */
.box8 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 3vw;
    margin-top: 380px;
}

/* boxrow5 */
.box9 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 3vw;
    margin-top: 500px;
}

/* bigbox */
.bigboxframe {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 228.92px;
    height: 227.92px;
    position: absolute;
    left: 35vw;
    margin-top: 380px
}

/* boxrow6 */
.box10 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 3vw;
    margin-top: 620px;
}

.box11 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 35vw;
    margin-top: 620px;

}

.box12 {
    border: 1px solid black;
    background-color: #FFFFFF;
    width: 109.92px;
    height: 109.92px;
    position: absolute;
    left: 67vw;
    margin-top: 620px;

}

/* box indhold */
/* box1 materialer */
.materialerikon {
    background-image: url(Group%201614.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 6.5vw;
    align-content: center;
}

/* box2 kalender */
.kalenderikon {
    background-image: url(Group%201617.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 9vw;
    align-content: center;


}

/* box3 notifikationer */
.notifikationerikon {
    background-image: url(Group%201618.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 4.5vw;
    align-content: center;

}

/* boxrow2 */
/* techlounge txt */
.techloungetxt {
    background-image: url(Techlounge.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 12vw;
    left: 16vw;
    align-content: center;


}

/* mail ikon */
.mailikon {
    background-image: url(Group%201620.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 9vw;
    align-content: center;

}

/* boxrow3 */
/* box5 favoritter*/
.favoritterikon {
    background-image: url(Group%201615.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 6.5vw;
    align-content: center;
}

/* box6 grupper */
.grupperikon {
    background-image: url(Group%201616.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vw;
    left: 8vw;
    align-content: center;


}

/* box7 chat */
.chatikon {
    background-image: url(Group%201613.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 6vw;
    align-content: center;

}

/* boxrow4 */
/* box8 søg */
.soegikon {
    background-image: url(Group%201622.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vw;
    left: 9vw;
    align-content: center;
}

/* boxrow5 */
/* box9 afleveringer */
.afleveringerikon {
    background-image: url(Group%201621.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vw;
    left: 5.5vw;
    align-content: center;


}

/* bixbox aktuelt txt */
.aktuelttxt {
    background-image: url(Aktuelt.svg);
    width: 58vw;
    height: 62vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 26vw;
    left: 12vw;
    align-content: center;
}

/* forside slut */
/****************/
/* burger menu */
/* baggrund */
.burgermenubaggrundframe {
    background-color: #3F3140;
    width: 375vw;
    height: 812vw;
    position: absolute;
}

/* lukke kryds for burger menu */
.lukburgermenu {
    background-image: url(lukburgermenu.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    top: 5vw;
    left: 89vw;


}

.burgermenukealogo {
    background-image: url(kealogo.svg);
    width: 8vw;
    height: 1.9vw;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 30vw;
    left: 46vw;
    transform: scale(4);
}


/* Burgermnu knapper */
.aktueltknap {
    background-image: url(Aktuelt.svg);
    width: 264vw;
    height: 24vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vw;
    left: -35vw;
    transform: scale(0.4);
    text-align: center;


}

.skemaknap {
    background-image: url(Skema.svg);
    width: 10vw;
    height: 3vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 71vw;
    left: 46vw;
    transform: scale(1.3)
}

.afleveringerknap {
    background-image: url(Afleveringer.svg);
    width: 20vw;
    height: 4vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 85vw;
    left: 43vw;
    transform: scale(1.3)
}

.materialerknap {
    background-image: url(Materialer.svg);
    width: 20vw;
    height: 4vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 100vw;
    left: 45vw;
    transform: scale(1.3)
}

.chatknap {
    background-image: url(Chat.svg);
    width: 50vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 113vw;
    left: 18vw;
    transform: scale(0.8);


}

.indstillingerknap {
    background-image: url(Indstillinger.svg);
    width: 264vw;
    height: 24vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 125vw;
    left: -3vw;
    transform: scale(0.8);


}

/* orange footerbox */
.orangeboxmedtxt {
    background-color: #EA847C;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 200vw;


}

/* logudtxt */
.logudtxt {
    background-image: url(Log%20ud.svg);
    width: 20vw;
    height: 10vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 41.5vw;


}

/* burgermenu slut */
/*******************/
/* skema */
#lightgreybox {
    background-color: #DEDCDB;
    width: 100vw;
    height: 25vw;
    position: absolute;
}

/* tema/semester/skema txt i lightgreybox */
.tematxt {
    background-image: url(Tema%204Basic%20UX.svg);
    width: 30vw;
    height: 20vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 8vw;
    left: 80vw;
    transform: scale(1.04)
}

.skemaogsemestertxt {
    background-image: url(SkemaSemester%201.svg);
    width: 30vw;
    height: 20vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 7vw;
    left: 3vw;

}

/* darkgreybox */
#darkgreybox {
    background-color: #3F3140;
    width: 100vw;
    height: 20vw;
    position: absolute;
    margin-top: 25vw
}

/* pile */

.pilvenstre {
    background-image: url(Backward%20arrow%20small.svg);
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vw;
    left: 32vw;
}

.pilhoejre {
    background-image: url(Forward%20arrow%20small.svg);
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 8vw;
    left: 65.5vw;
}

/* maaneddagdato box */
.maaneddagdato {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 2vw;
    left: 42.8vw;
}


.maaned {
    background-image: url(Maj.svg);
    width: 6vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 1vw;
    left: 5vw
}

.dag {
    background-image: url(Mandag.svg);
    width: 10vw;
    height: 2vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 7vw;
    left: 3vw
}

.dato {
    background-image: url(20.svg);
    width: 6vw;
    height: 5vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 10.5vw;
    left: 5vw;
}

/* skema & tid */

/* skemabox modul1 hvid box med tid */
.skemabox1 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 68vw;


}

.tid1 {
    background-image: url(0830%200915.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.skemabox2 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 83vw;
    border-top: 1px solid #E2E8ED;


}

.tid2 {
    background-image: url(09151000.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* greybox modul1 box */
.modul1greybox {
    background-color: #F2F1F0;
    position: absolute;
    width: 75vw;
    height: 31vw;
    top: 68vw;
    left: 20vw;
    /* arrangere den grå box oven på de hvide */
    /* Z-index kontrollerer hvordan images eller divs stacker oven på hinanden.
    Div/image med højere z-index value tager front place hvor lavere
    vil put-to-back */
    z-index: 1;
    /* slut */


}

/* modul1 txt */
.modul1txt {
    background-image: url(Group%201626.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 3vw;
}

/* mappe og attachment ikoner modul1 */
.modul1mappeikon {
    background-image: url(Folder.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: -3vw;
    left: 36vw;
    transform: scale(0.4)
}

.modul1attachmentikon {
    background-image: url(Attachment.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 11vw;
    left: 66vw;

}

/* skemabox modul2 hvid box med tid */
.skemabox3 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 104vw;


}

.tid3 {
    background-image: url(10151100.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.skemabox4 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 119vw;
    border-top: 1px solid #E2E8ED;


}

.tid4 {
    background-image: url(11001145.svg);
    position: absolute;
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* grey box modul 2 box */
.modul2greybox {
    background-color: #F2F1F0;
    position: absolute;
    width: 75vw;
    height: 31vw;
    top: 104vw;
    left: 20vw;
    /* arrangere den grå box oven på de hvide */
    /* Z-index kontrollerer hvordan images eller divs stacker oven på hinanden.
    Div/image med højere z-index value tager front place hvor lavere
    vil put-to-back */
    z-index: 1;
    /* slut */

}

/* modul2 txt */
.modul2txt {
    background-image: url(Group%201627.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 3vw;
}

/* modul2 attachment ikon */
.modul2attachmentikon {
    background-image: url(Attachment.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 6vw;
    left: 66vw;

}

/* skemabox modul3 hvid box med tid */
.skemabox5 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 140vw;


}

.tid5 {
    background-image: url(12301315.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.skemabox6 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 155vw;
    border-top: 1px solid #E2E8ED;


}

.tid6 {
    background-image: url(1315%201400.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* greybox modul3 */
.modul3greybox {
    background-color: #F2F1F0;
    position: absolute;
    width: 75vw;
    height: 15vw;
    top: 140vw;
    left: 20vw;
    /* arrangere den grå box oven på de hvide */
    /* Z-index kontrollerer hvordan images eller divs stacker oven på hinanden.
    Div/image med højere z-index value tager front place hvor lavere
    vil put-to-back */
    z-index: 1;
    /* slut */


}

/* modul3 txt */
.modul3txt {
    background-image: url(Group%201628.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 4vw;
    left: 3vw;
}

/* mappe ikon modul3 */
.modul3mappeikon {
    background-image: url(Folder.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    left: 36vw;
    transform: scale(0.4)
}

/* skemabox modul4 hvid box med tid */
.skemabox7 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 176vw;


}

.tid7 {
    background-image: url(1415%201500.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

.skemabox8 {
    background-color: #FFFFFF;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 190vw;
    border-top: 1px solid #E2E8ED;


}

.tid8 {
    background-image: url(1500%201545.svg);
    position: absolute;
    width: 100vw;
    height: 15vw;
    background-repeat: no-repeat;
    top: 3vw;
    left: 4vw;
}

/* darkfooterbox */
.darkfooterbox {
    background-color: #3F3140;
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 200vw;
    margin-top: 5vw;
}

.darkfooterboxskemaikon {
    background-image: url(skemaikondarkbox.svg);
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 40vw;
}

/* skema skærm slut */

/********************/
/* Materialer skærm start */

.materialerogsemestertxt {
    background-image: url(MaterialerSemester%201.svg);
    width: 30vw;
    height: 20vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 7vw;
    left: 3vw;

}

/* skema ikon materialer */
.skemaikonmaterialer {
    background-image: url(Path%20310.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 12vw;
    left: 25vw;

}

/* materialer boxe med txt */
.infobox1 {
    background-color: #F2F1F0;
    width: 90vw;
    height: 20vw;
    position: absolute;
    top: 75vw;
    left: 5vw;
}

.infotxt1 {
    background-image: url(materialertxt1.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.downloadikon {
    background-image: url(downloadikon.svg);
    width: 6vw;
    height: 6vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 12vw;
    left: 80vw;
}

.infobox2 {
    background-color: #F2F1F0;
    width: 90vw;
    height: 20vw;
    position: absolute;
    top: 98vw;
    left: 5vw;
}

.infotxt2 {
    background-image: url(materialertxt2.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.infobox3 {
    background-color: #F2F1F0;
    width: 90vw;
    height: 20vw;
    position: absolute;
    top: 121vw;
    left: 5vw;
}

.infotxt3 {
    background-image: url(materialertxt3.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vw;
    left: 3vw;
}

.materialerattachmentikon {
    background-image: url(Attachment.svg);
    width: 100vw;
    height: 20vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 15vw;
    left: 95vw;
    transform: scale(1.3);
}
